{% extends 'base.html.twig' %}

{% block title %}Nouvelle visite
{% endblock %}

{% block body %}
	<h1 class="h4 mb-3">Ajouter une visite pour
		{{ etudiant.prenom }}
		{{ etudiant.nom }}</h1>
	{% include 'visites/_form.html.twig' with {form: form, submit_label: 'Créer', back_path: path('etudiant_visites', {id: etudiant.id})} %}
{% endblock %}
